

<h1><%= pluralize(@events.length,'Event') %> </h1>


<% @events.each do |event| %>
	<article>
		<header>
			<h2> <%= link_to(event.name, event_path(event.id) ) %> </h2>
			<p>  <%= truncate(event.description, length: 20, separator: " ") %> </p>
		</header>
		<table>
			<tr> 
				<th>When:</th>
				<td><%= event.starts_at().to_s() %> </td>
			</tr>
			<tr> 
				<th>Where:</th>
				<td><%= event.location %> </td>
			</tr>
			<tr> 
				<th>Price:</th>
				<td><%= format_price(event) %></td>
			</tr>
		</table>
	</article>
<% end %>
